/* HEADER STYLE */



/* MATCH STYLE */

body {
    margin: 0;
}

section {

}


#match {
    background-color:  #333;
    color: #eee;
    line-height: 1.4;    
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#match #headline {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 48px;
    display: none;
}

#match #tagline {
    margin-top: 0;
    display: none;
}

#match .circle {
    width: 120px;
    height: 120px;
    margin: 10px 10px 40px 10px;
    border-radius: 50%;
    background-color: #eee;
    color: blue;
    display: inline-block;
}

.caption {
    font-size: 24px;
}

img.emma, img.dave {
    margin: 10px 10px 0 10px;
}

.action-btn{
    width: 275px;
    margin: 15px auto;
    padding: 12px;
    display: none;
    background-color: #333;
    border: 1px solid #eee;
    border-radius: 10px;
    color: #eee;
    font-size: 15px;
}

.action-btn:hover {
    background-color: #778;
}

#change {
    position: relative;
    width: 50px;
    height: 20px;
}

#reasons {
    width: 92%;
    margin: 0 auto;
    margin-top: 185px;
}

#reasons .left {
    text-align: left;
    color: #57C5EC;
    margin-right: 20%;
}

#reasons .right {
    text-align: right;
    color: #BE3B39;
    margin-left: 20%;
}

#btm-spacer {
    height: 120vh;
}
