/* HEADER STYLE */



/* MATCH STYLE */

body {
    margin: 0;
}

section {
    background-color:  #333;
    color: #eee;
    line-height: 1.4;
}


#match {
    text-align: center; 
}

#match #headline {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 48px;
    display: none;
}

#match #tagline {
    margin-top: 0;
    display: none;
}

#match .circle {
    width: 120px;
    height: 120px;
    margin: 10px 10px 40px 10px;
    border-radius: 50%;
    background-color: #eee;
    color: blue;
    display: inline-block;
}

.action-btn{
    width: 275px;
    margin: 15px auto;
    padding: 12px;
    display: none;
    background-color: #333;
    border: 1px solid #eee;
    border-radius: 10px;
    color: #eee;
    font-size: 15px;
}

#match button:hover {
    background-color: #778;
}
